<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>log4j.properties</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>Model</servlet-name>
    <servlet-class>kos.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model</servlet-name>
    <url-pattern>*.kos</url-pattern>
  </servlet-mapping>
</web-app>